# ==============================================================================
# Redis Credentials & Connection Configuration
# ==============================================================================
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=your_super_secret_password
REDIS_DB=0

# Full Redis URL used by Celery Broker & Result Backend
# Format: redis://:<password>@<host>:<port>/<db>
# ACL Format: redis://<user>:<password>@<host>:<port>/<db>
BROKER_URL=redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}
